:root {
  --color-primary: #0d1825;
  --color-secondary: #0d60d8;
}
*,
*::after,
::before {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
html {
  /* 62.5% of 16px =10px */
  font-size: 62.5%;
}
body {
  font-family: inter, Arial, Helvetica, sans-serif;
  font-size: 2.4rem;
  line-height: 1.9;
}
h1,
h2,
h3 {
  color: var(--color-headings);
  margin-bottom: 1rem;
  line-height: 1.1;
}
h1 {
  font-size: 7rem;
}
h2 {
  font-size: 4rem;
}
h3 {
  font-size: 3rem;
  font-weight: 500;
}
p {
  margin-top: 0;
}

h1 {
  font-size: 8rem;
}
h2 {
  font-size: 4rem;
}
h3 {
  font-size: 2.4rem;
}
a {
  text-decoration: none;
}
/* Header section */
#header {
  min-height: 4vw;
  width: 100%;
  display: grid;
  align-items: center;
  justify-content: space-around;
  border-radius: 7px;
  box-shadow: 0 10px 10px #f3f3f3;
  grid-template-columns: 4fr 2fr;
}

#header .nav-bar-logo {
  display: flex;
  justify-content: start;
}

#header .nav-bar {
  list-style: none;
  padding-left: 0;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}
#header .logo {
  margin-left: 20rem;
  margin-top: 3rem;
}

.nav-item {
  padding: 0 2rem;
  line-height: 4;
  font-size: 16px;
}
.nav-item > a {
  color: #000;
}

#header .nav-bar-auth {
  display: flex;
  padding: 0 2rem;
  list-style: none;
  margin: 0 auto;
  overflow: hidden;
  width: 100%;
}

.auth-btn {
  border-radius: 10px;
  margin-right: 20px;
  padding: 0 10px;
  opacity: 1;
  transition: 0.3s;
}

.auth-btn > a {
  font-size: 16.5px;
}
.login {
  border: 1px solid var(--color-primary);
}
.login > a {
  color: var(--color-primary);
}

.login:hover {
  border: 1px solid var(--color-secondary);
}

.login > a:hover {
  color: var(--color-secondary);
}

.register {
  background: var(--color-primary);
  border: 1px solid var(--color-primary);
}

.register > a {
  color: #fff;
}

.register:hover {
  background: var(--color-secondary);
  border: 1px solid var(--color-secondary);
  opacity: 1;
}
.align {
  margin: 0 auto;
}
